<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Explore France</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h2>City Of Love</h2>
        <p>Known as the “City of Light” or the “City of Love,” the streets of Paris overflow with culture, art, beauty, and history. Whether searching out Monet’s Water Lilies at Musée de l’Orangerie, climbing the many steps of Sacré-Cœur, standing before the Eiffel Tower in awe, or searching out the best crepes along the Seine, Paris is a city that captures the hearts of millions ever year.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h2>Eiffel Tower</h2>
        <p>The Eiffel Tower was supposed to be a temporary installation, intended to stand for 20 years after being built for the 1889 World Fair.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h2>Statue of Liberty in Paris</h2>
        <p>There are at least three replicas of the Statue of Liberty in Paris. The most famous of them exists on an island in the middle of the Seine and looks towards her sister statue in New York.</p>
      </div>
    </div>
  </div>
